<h1><%= @doctor.name %></h1>

<h3>Specializes in <%= @doctor.specialty %></h3>
<h3>Graduated from <%= @doctor.university %></h3>
<h3>Works at <%= @doctor.hospital.name %></h3>

<h3>Patients: </h3>
<% @doctor.patient_doctors.each do |relation| %>
  <div id="relation-<%= relation.id %>">

    <p><%= relation.patient.name %></p>
    <%= button_to 'Remove patient from this doctor', patient_relation_delete_path(relation.id) %>
  </div>
<% end %>
