<h1><%= @doctor.name %></h1>

<h3>Specializes in <%= @doctor.specialty %></h3>
<h3>Graduated from <%= @doctor.university %></h3>
<h3>Works at <%= @doctor.hospital.name %></h3>

<h3>Patients: </h3>
<% @doctor.patients.each do |patient| %>
  <div id="patient-<%= patient.id %>">

    <p><%= patient.name %></p>
    <%= button_to 'Remove patient', patient_delete_path(patient.id), params: {doc_id: @doctor.id} %>
  </div>
<% end %>
